*.csv 
**/*.jpg
**/*.jpeg
**/*.png
**/*.gif
**/*.webp
**/*.svg
*.zip
*.h5
!diffusion/overfit_out/*
!diffusion/runs/run_64/eval/*
!diffusion/runs/run_64/samples/*
!diffusion128/runs/run_128/eval/*
!diffusion128/runs/run_128/samples/*